@import "tailwindcss";

@plugin "daisyui";


@plugin "daisyui/theme" {
  name: "christFashion";
  default: false;
  prefersdark: false;
  color-scheme: "light";
  --color-base-100: oklch(100% 0 0);
  --color-base-200: oklch(98% 0 0);
  --color-base-300: oklch(95% 0 0);
  --color-base-content: oklch(21% 0.006 285.885);
  --color-primary: #78350f;
  --color-primary-content: oklch(93% 0.034 272.788);
  --color-secondary: #ea580c;
  --color-secondary-content: oklch(94% 0.028 342.258);
  --color-accent: #f97316;
  --color-accent-content: oklch(38% 0.063 188.416);
  --color-neutral: #1c1917;
  --color-neutral-content: oklch(92% 0.004 286.32);
  --color-info: #3abff8;
  --color-info-content: oklch(29% 0.066 243.157);
  --color-success: oklch(76% 0.177 163.223);
  --color-success-content: oklch(37% 0.077 168.94);
  --color-warning: oklch(82% 0.189 84.429);
  --color-warning-content: oklch(41% 0.112 45.904);
  --color-error: oklch(71% 0.194 13.428);
  --color-error-content: oklch(27% 0.105 12.094);
  --radius-selector: 0.5rem;
  --radius-field: 0.25rem;
  --radius-box: 0.5rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 1;
  --noise: 0;
}

:root {
  --font-ma-police-specifique: Playfair Display, Georgia, serif;
}

/* classe utilitaire personnalisée */
.font-titre {
  font-family: var(--font-ma-police-specifique);
}


/**
  * A catch-all path to Django template files, JavaScript, and Python files
  * that contain Tailwind CSS classes and will be scanned by Tailwind to generate the final CSS file.
  *
  * If your final CSS file is not being updated after code changes, you may want to broaden or narrow
  * the scope of this path.
  */
@source "../../../**/*.{html,py,js}";
